*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    position: fixed;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    position: absolute;
    list-style: none;
    padding-top: 30px;
}

.menu div {
    padding: 10px;
}

.right-part-nav a {
    padding-right: 20px;
}

.left-img {
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: center;
}

.left-img img {
    height: 40px;
    width: 80px;
}